@import "../../styles/vars.scss";

.EditingPage {
  margin-bottom: 100px;

  &__Fields {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }

  &__Button {
    width: 47%;
    height: 49px;
    text-transform: uppercase;
    border-radius: $border-radius-default;
    border: 0;
    outline: 0;
    cursor: pointer;
    font-size: $fz_15;
    transition: all 0.3s;

    &--add {
      background-color: #2275e9;
      color: $color-background;

      &:hover {
        background-color: #1a62c7;
      }

      &:disabled {
        background: #91c1f8;
        cursor: no-drop;
      }
    }

    &--cancel {
      background-color: $color-sys-gray;
      color: $color-text-light;

      &:hover {
        background-color: #d8d4d4;
      }
    }

    &--delete {
      background-color: $color-error;
      color: $color-background;

      &:hover {
        background-color: #cf3229;
      }
    }

    &--cancelN {
      background-color: $color-sys-gray;
      color: $color-text-light;
      width: $input-width;
      margin-top: 16px;

      &:hover {
        background-color: #d8d4d4;
      }
    }
  }

  &__Buttons {
    margin-top: 40px;
    width: $input-width;
    display: flex;
    justify-content: space-between;
  }

  &__Success {
    width: 386px;
    height: 239px;
    background-color: $color-background;
    position: fixed;
    z-index: 20;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: $border-radius-default;
    padding: 3rem 2.5rem;
    box-sizing: border-box;
  }

  &__SuccessText {
    font-family: $Cera-ff;
    font-size: 27px;
    font-weight: bold;
    color: $color-text;
    text-align: center;
  }

  &__SuccessLinkBlock {
    display: flex;
    justify-content: space-between;
    margin-top: 2.5rem;
  }

  &__SuccessButton {
    width: 9.5rem;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: $fz_15;
    text-transform: uppercase;
    border-radius: $border-radius-default;
    transition: all 0.3s;
  }

  &__SuccessBack {
    background-color: $color-sys-gray;
    color: $color-text-light;

    &:hover {
      background-color: #f5f3f3;
    }
  }

  &__SuccessNew {
    color: $color-background;
    background-color: $color-primary;

    &:hover {
      background-color: $color-client;
    }
  }
}


