@import "../../styles/vars.scss";

.HomePage {
  &__BackgroundWrap {
    height: 500px;
    position: relative;
    overflow: hidden;

    @media screen and (max-width: 768px) {
      height: 555px;
    }
  }

  &__List {
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    bottom: 100px;
    list-style-type: none;
    max-height: 450px;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      bottom: 53px;
      padding-left: 50px;
    }
  }

  &__Link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    color: #ffffff;
    position: relative;
    padding-bottom: 5px;

    &::after {
      position: absolute;
      content: "";
      width: 46px;
      height: 5px;
      background-color: #fff;
      left: 0;
      bottom: -3px;
      transition: all 0.3s;
    }

    &:hover::after {
      width: 100%;
    }
  }

  &__Item {
    margin-right: 108px;
    margin-bottom: 25px;

    &:last-child {
      margin-right: 0;
    }

    @media screen and (max-width: 1150px) {
      margin-right: 55px;
    }

    @media screen and (max-width: 768px) {
      margin-bottom: 50px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

}
