@import "../../../styles/vars.scss";

.EditingText {
  width: $input-width;
  box-sizing: border-box;
  resize: none;
  height: 112px;
  margin-top: 20px;
  background: $color-background;
  border: 1px solid $color-sys-gray;
  box-sizing: border-box;
  border-radius: $border-radius-default;
  padding: 11px 16px;
  font-family: $Roboto-ff;
  font-size: $fz_15;
  outline: 0;
  transition: all 0.3s;

  &::placeholder {
    color: $color-main-gray;
  }

  &:focus {
    border: 1px solid $color-client;
  }

  &--error {
    border: 1px solid $color-error;
  }

  &--success {
    border: 1px solid $color-success;
  }
}
