@import "../../styles/vars.scss";

.SideBar {
  width: 230px;
  position: fixed;
  height: 100vh;
  padding: 46px 42px 0 0;
  box-sizing: border-box;
  $color-main-gray: $color-text-light;

  &__PanelLogo {
    width: 188px;
    height: 50px;
    text-align: center;
    line-height: 50px;
  }

  &__PanelLogoText {
    font-size: 14px;
    color: $color-main-gray;
    font-weight: bold;
  }

  &__Nav {
    text-transform: uppercase;
    font-size: $fz_13;
    margin: 40px 0;

    font-weight: 300;
    color: $color-main-gray;
  }

  &__NavList {
    list-style-type: none;
  }

  &__NavItem {
    height: 40px;
    margin-bottom: 14px;
    display: flex;
    align-items: center;
    transition: all 0.3s;

    &:hover {
      border-radius: $border-radius-default;
      background-color: $color-sys-gray;
    }
  }

  &__NavLink {
    text-decoration: none;
    display: flex;
    width: 100%;
    align-items: center;
    height: 100%;
    padding-left: 16px;
    box-sizing: border-box;
  }

  &__ActiveNavLink {
    border-radius: $border-radius-default;
    background-color: $color-sys-gray;
  }

  &__Logout {
    display: flex;
    justify-content: center;
  }

  &__LogoutText {
    color: $color-text-light;
    font-size: $fz_15;
    font-family: $Roboto-ff;
    cursor: pointer;
    height: 35px;
    width: $input-width;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    &:hover {
      background-color: $color-sys-gray;
      border-radius: $border-radius-default;
    }
  }

  &__User {
    margin: 40px 0 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__UserImg {
    margin-bottom: 8px;
    width: 35px;
    height: 35px;
  }
}
