@import "../../../styles/vars.scss";

.EditingColors {
  margin-top: 20px;
  width: $input-width;

  position: relative;
  display: flex;
  justify-content: space-between;

  &__Main {
    font-size: $fz_15;
    color: $color-text;
  }

  &__Select {
    background: $color-background;
    border: 1px solid $color-sys-gray;
    box-sizing: border-box;
    border-radius: $border-radius-default;
    width: 90%;
    height: 40px;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    &--error {
      border: 1px solid $color-error;
    }

    &--success {
      border: 1px solid $color-success;
    }

    &--open {
      border-bottom: 1px solid $color-background;
      border-radius: 10px 10px 0 0;
    }
  }

  &__Arrow {
    transition: all 0.3s;
    &--down {
      transform: rotate(-180deg);
    }
  }

  &__Default {
    color: $color-main-gray;
    font-size: $fz_15;
  }

  &__List {
    background-color: $color-background;
    width: 90%;
    box-sizing: border-box;
    list-style-type: none;
    border: 1px solid $color-sys-gray;
    padding-bottom: 5px;
    border-radius: 0 0 10px 10px;
    border-top: 0;
    transform: translateY(-30px);
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s;
    z-index: -1;
    position: absolute;

    &--open {
      z-index: 10;
      opacity: 1;
      visibility: visible;
      transform: translateY(39px);
    }
  }

  &__Item {
    padding-left: 16px;
    height: 30px;
    line-height: 30px;
    transition: all 0.3s;
    cursor: pointer;
    &:hover {
      background-color: $color-sys-gray;
    }
  }

  &__PreviewColor,
  &__PreviewColorImg {
    transition: all 0.3s;
    width: 40px;
    height: 40px;
    border: 4px solid $color-background;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: $color-sys-gray;
  }
}
