@import "../../../../styles/vars.scss";

.SettingsColor {
  &__Form {
    margin-top: 35px;
    width: 632px;
  }

  &__FormInp {
    display: flex;
  }

  &__Input {
    width: 276px;
    height: 40px;
    background: $color-background;
    border: 1px solid $color-sys-gray;
    box-sizing: border-box;
    border-radius: $border-radius-default;
    padding-left: 16px;
    outline: none;
    font-size: $fz_15;
    color: $color-text;
    transition: all 0.3s;

    &::placeholder {
      color: $color-main-gray;
    }

    &:focus {
      border: 1px solid $color-primary;
    }
  }

  &__ColorCustom {
    margin-left: 16px;
    position: relative;
    width: 284px;
    top: 0;
    right: 0;
    left: 0;
    height: 2.6rem;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    color: rgb(235, 229, 229);
    background-color: $color-background;
    border: 1px solid $color-sys-gray;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: $border-radius-default;
    transition: all 0.3s;
    overflow: hidden;

    &--error {
      border: 1px solid $color-error;
      box-sizing: border-box;
    }

    &--success {
      border: 1px solid $color-success;
      box-sizing: border-box;
    }

    &::before {
      content: "Обзор";
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
      display: flex;
      align-items: center;
      height: 37px;
      padding: 0 1rem;
      font-weight: 300;
      color: $color-text-light;
      background-color: $color-sys-gray;
      box-sizing: border-box;
      transition: all 0.3s;
      border-radius: 9px;
    }

    &::after {
      content: attr(data-title);
      color: $color-main-gray;
      font-size: 14px;
    }

    &:hover::before {
      color: rgb(170, 166, 166);
      background-color: #f5f3f3;
    }

    &--disabled {
      opacity: 0.5;
      cursor: no-drop;
    }
  }

  &__InputFile {
    display: none;
  }

  &__AddColor {
    width: 103px;
    height: 40px;
    background: $color-sys-gray;
    border-radius: $border-radius-default;
    border: 0;
    outline: 0;
    font-family: $Roboto-ff;
    font-size: $fz_15;
    color: $color-text-light;
    margin-left: 16px;
    cursor: pointer;
    &:disabled {
      opacity: 0.6;
      cursor: no-drop;
    }
  }

  &__Color {
    width: 40px;
    height: 40px;
    background: $color-main-gray;
    border: 4px solid $color-background;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    margin-left: 16px;
  }

  &__AddToBase {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    background-color: $color-primary;
    border-radius: $border-radius-default;
    font-family: $Roboto-ff;
    font-size: $fz_15;
    color: #fff;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background-color: $color-client;
    }

    &:disabled {
      background-color: $color-primary;
      opacity: 0.6;
      cursor: no-drop;
    }

    &--cancel {
      transition: all 0.3s;
      background-color: $color-sys-gray;
      color: $color-text-light;

      &:hover {
        background-color: #f5f5f3;
      }
    }
  }

  &__ColorImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-position: center;
    margin-left: 16px;
    border: 4px solid $color-background;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  }

  &__ColorsBase {
    margin-top: 50px;
  }

  &__Title {
    font-family: $Cera-ff;
    font-weight: bold;
    font-size: 18px;
    color: $color-text;
  }

  &__ColorList {
    margin-top: 20px;
    list-style-type: none;
  }
}
