@import "../../styles/vars.scss";

.BackgroundMainImg {
  &__ImgWrap {
    width: 100%;
    height: 500px;
    display: flex;

    @media screen and (max-width: 768px) {
      height: 555px;
    }
  }

  &__Img {
    display: none;
    width: 100%;
    object-fit: cover;
    object-position: center;

    &--loaded {
      display: block;
    }
  }

  &__Preload {
    width: 100%;
    height: 100%;
    background: #5182a3;
    opacity: 0.3;
  }
}
