@import "../../styles/vars.scss";

.ProductsPage {
  &__NoProducts {
    text-align: center;
    color: $color-text-light;
  }

  &__Filter {
    position: absolute;
    font-family: $Roboto-ff;
    width: 100%;
    height: 50px;
    background: $color-background;
    border: 1px solid $color-sys-gray;
    box-sizing: border-box;
    border-radius: $border-radius-default;
    outline: 0;
    background-image: url(../../images/inpSearch.svg);
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position-x: 24px;
    background-position-y: 16px;
    padding-left: 58px;
    font-size: $fz_15;
    top: 46px;
    transition: all 0.3s;
    &::placeholder {
      color: $color-main-gray;
    }

    &:focus {
      border: 1px solid $color-primary;
    }
  }
}

.Spinner {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
