@import "../../../../styles/vars.scss";

.SettingsColorItem {
  &__ColorItem {
    display: flex;
  }

  &__ColorName {
    width: 456px;
    height: 40px;
    background: $color-sys-gray;
    border: 1px solid $color-sys-gray;
    box-sizing: border-box;
    border-radius: $border-radius-default;
    margin-bottom: 20px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    margin-right: 16px;
  }

  &__ItemImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-position: center;
    border: 4px solid $color-background;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  }

  &__Icons--dis {
    opacity: 0.4;
  }

  &__ImgWrap {
    position: relative;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 33px;
    transition: all 0.3s;

    &:hover {
      background-color: $color-sys-gray;
      border-radius: 4px;
    }
    &--dis {
      cursor: no-drop;

      &:hover {
        background-color: #fafafa;
      }
    }
  }

  &__SettingsWrap {
    display: flex;
    height: 40px;
    align-items: center;
    margin-left: 37px;
  }

  &__Hint {
    position: absolute;
    background-color: $color-sys-gray;
    border-radius: $border-radius-default;
    top: -225%;
    width: 300px;
    padding: 5px 16px;
    box-sizing: border-box;
    left: -7px;
    color: $color-text;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
    &::after {
      position: absolute;
      content: "";
      height: 10px;
      width: 10px;
      background-color: #000;
      bottom: -5px;
      left: 15px;
      transform: rotate(45deg);
      background-color: $color-sys-gray;
    }
  }
}

.SettingsColorItem__ImgWrap--dis:hover > .SettingsColorItem__Hint {
  visibility: visible;
  opacity: 1;
}
