@font-face {
  font-family: "Cera";
  src: url("../fonts/CeraPro-Thin.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cera";
  src: url("../fonts/CeraPro-Regular.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Cera";
  src: url("../fonts/CeraPro-Bold.ttf");
  font-weight: 600;
  font-style: normal;
}
