@import "./font.scss";

body,
html,
input,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  scroll-behavior: smooth;
  background-color: #fafafa;
  position: relative;
  font-size: 15px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 3px;
}

::-webkit-scrollbar-button {
  height: 0;
  background-color: #a8a7a7;
}

::-webkit-scrollbar-track-piece {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #a6a6a6;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.App {
  padding-left: 230px;
}

.wrapper {
  width: 1348px;
  margin: 0 auto;
}

.behind__Background {
  background-color: #000;
  opacity: 0.3;
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 100vh;
}

.Pages {
  &__Title {
    font-size: 32px;
    font-weight: bold;
    position: relative;
    font-family: "Cera";
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #c4c4c4;
      left: 0;
      bottom: -20px;
    }
  }

  &__Wrap {
    padding-top: 122px;
    position: relative;
    margin-bottom: 100px;
  }
}
