$fz_15: 15px;
$fz_13: 13px;

$color-error: #ff4d42;
$color-primary: #3886f3;
$color-sys-gray: #ebebeb;
$color-text: #1d1d1d;
$color-background: #ffffff;
$color-client: #5aa1f8;
$color-success: #6fcf97;
$color-text-light: #a6a6a6;
$color-main-gray: #c4c4c4;


$border-radius-default: 10px;

$Roboto-ff: "Roboto", sans-serif;
$Cera-ff: "Cera", sans-serif;

$input-width: 632px;