@import "../../../styles/vars.scss";

.EditingSizes {
  width: $input-width;
  background: $color-background;
  border: 1px solid $color-sys-gray;
  box-sizing: border-box;
  border-radius: $border-radius-default;
  height: 40px;
  margin-top: 20px;
  line-height: 40px;
  padding: 0 16px;

  cursor: pointer;

  &__Wrapper {
    position: relative;
  }

  &--open {
    border-radius: 10px 10px 0 0;
    border-bottom: 0;
  }

  &--error {
    border: 1px solid $color-error;
  }

  &--success {
    border: 1px solid $color-success;
  }

  &__Sizes {
    font-size: $fz_15;
    color: $color-text;
  }

  &__DefaultTitle {
    color: $color-text-light;
    font-size: $fz_15;
    font-weight: 300;
  }

  &__Title {
    display: flex;
    justify-content: space-between;
  }

  &__OptionList {
    width: $input-width;
    background-color: $color-background;
    border: 1px solid $color-sys-gray;
    padding-bottom: 5px;
    border-radius: 0 0 10px 10px;
    box-sizing: border-box;
    border-top: 0;
    transform: translateY(-30px);
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s;
    z-index: -1;
    position: absolute;

    &--open {
      z-index: 10;
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
      overflow-y: scroll;
      max-height: 200px;
    }
  }

  &__Arrow {
    transition: all 0.3s;
    &--down {
      transform: rotate(-180deg);
    }
  }

  &__OptionItem {
    height: 30px;
    align-items: center;
    padding: 0 17px 0 16px;
    display: flex;
    justify-content: space-between;
    transition: all 0.3s;
    cursor: pointer;
    &:hover {
      background-color: $color-sys-gray;
    }
  }

  &__Checkbox {
    cursor: pointer;
  }

  &__SizeName {
    flex-grow: 1;
    height: 100%;
    line-height: 35px;
  }

  &__Articul {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__ArticulInp {
    margin-right: 32px;
    width: 90px;
    height: 22px;
    background: $color-background;
    border: 1px solid $color-sys-gray;
    box-sizing: border-box;
    border-radius: 5px;
    padding-left: 16px;
    font-family: $Roboto-ff;
    font-size: 12px;
    outline: 0;
    transition: all 0.3s;

    &::placeholder {
      color: $color-main-gray;
    }

    &:focus {
      border: 1px solid $color-client;
    }

    &--success {
      border: 1px solid $color-success;
    }
    &--error {
      border: 1px solid $color-error;
    }
  }
}
