@import "../../../../styles/vars.scss";

.SettingsMainInput {
  width: 632px;
  box-sizing: border-box;
  height: 40px;
  background: $color-background;
  border: 1px solid $color-sys-gray;
  box-sizing: border-box;
  border-radius: $border-radius-default;
  margin-bottom: 20px;
  padding-left: 16px;
  font-size: $fz_15;
  font-family: $Roboto-ff;
  color: $color-text;
  outline: 0;
  transition: all 0.3s;

  &::placeholder {
    color: $color-main-gray;
  }

  &:focus {
    border: 1px solid $color-primary;
  }

  &--error {
    border: 1px solid $color-error;
  }

  &--success {
    border: 1px solid $color-success;
  }
}
